#main-toolbar #activity-button {
  background-image: url(../activity/activity-icon.svg);
}

#main-toolbar #new-btn {
  background-image: url(../../../icons/system-restart.svg);
}

body {
        height: 100vh;
}

#hangman {
  text-align: center;
  font-size: 1.5em;
  margin-top: 20px;
}

#letter-input {
  width: 40px;
  text-align: center;
}
