#main-toolbar #activity-button {
  background-image: url(../activity/activity-icon.svg);
}

#main-toolbar #new-btn {
  background-image: url(../../../icons/system-restart.svg);
}

body {
        height: 100vh;
}

#hangman {
  text-align: center;
  font-size: 5em;
  margin-top: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#letter-input {
  width: 40px;
  text-align: center;
}

#used-letters {
  font-size: 0.5em;
  color: blue;
}
